pkgbase = linkwarden-obsidian-sync
	pkgdesc = Keeps a directory of Obsidian notes in sync with your saved Linkwarden links
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/alrayyes/linkwarden-obsidian-sync
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	source = linkwarden-obsidian-sync-2.1.0.tar.gz::https://github.com/alrayyes/linkwarden-obsidian-sync/archive/v2.1.0.tar.gz
	sha256sums = 2d29f3c214457258d16bb3dc442ea1c348128443cc8c522dcee771d9152a55cf

pkgname = linkwarden-obsidian-sync
